aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.2
multidict==4.7.3
numpy==1.18.1
Pillow==6.2.1
pyparsing==2.4.6
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scipy==1.4.1
six==1.13.0
urllib3==1.25.7
yarl==1.4.2
